{% extends 'base.html' %}

{% block content %}
<dl>
  <dt>Vimeo ID</dt>
  <dd>{{ vimeo_id }}</dd>
  <dt>Title</dt>
  <dd>{{ title }}</dd>
  <dt>Creator</dt>
  <dd>{{ creator }}</dd>
  <dt>Additional Creators</dt>
  <dd>Additional Creators</dd>
  <dt>Publication Date</dt>
  <dd>{{ production_dates }}</dd>
  <dt>Format</dt>
  <dd>{{ video_tape_format }}</dd>
  <dt>Type of Footage</dt>
  <dd>{{ genre }}</dd>
  <dt>Description</dt>
  <dd>{{ excerpt }}</dd>
  <dt>Keywords or Subject</dt>
  <dd>{{ categories }}</dd>
  <dt>Location of Footage</dt>
  <dd>{{ location_of_production }}</dd>
  <dt>Collections</dt>
  <dd>{{ collections }}</dd>
</dl>
{% endblock %}
